/* [실습2] 채팅창 UI 만들기 */
.chat-box {
  background-color: #f6f99e5e;
}
.chat-list {
  background-color: #f6f99e5e;
  width: 300px;
  height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.chat-list div {
  margin-top: 3px;
}

.chat-list div div {
  display: inline-block;
  padding: 3px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #333;
}

.chat-list .name {
  display: block;
  font-size: 12px;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
}
.chat-list .name img {
  width: 40px;
}
.my-chat {
  text-align: right;
}

.my-chat div {
  margin-right: 10px;
}

.other-chat div {
  margin-left: 10px;
}

/* [실습5] DM 기능 */
.secret-chat div {
  background-color: pink;
}

/* [실습3] */
.notice {
  text-align: center;
  color: #005397;
  font-size: 12px;
}

.d-none {
  display: none;
}

.dim-layer {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.pop-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 20px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.profile-img {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
